<div class="row">
	<div class="col-md-12" data-ng-show="tarefas.length > 0">	
		<nav class="navbar navbar-default" role="navigation">
			<div class= "container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Gerenciamento de Tarefas</a>
				</div>
				<div>
					<a class="btn btn-success navbar-btn" href="#/editar-tarefa/0">
						<i class="glyphicon glyphicon-plus"></i>&nbsp;Adicionar Nova Tarefa
					</a>
				</div>
			</div>
		</nav>
		<div class="table-responsive">
			<table id="tasks-table" class="table table-striped table-bordered">
				<thead>
					<th>ID</th>
					<th>Título</th>
					<th>Descrição</th>
					<th>Prioridade</th>
					<th>Ação</th>
				</thead>
				<tbody>
					<tr ng-repeat="data in tarefas">
						<td>{{data.id}}</td>
						<td>{{data.titulo}}</td>
						<td>{{data.descricao}}</td>
						<td>{{data.prioridade}}</td>
						<td><a href="#/editar-tarefa/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Editar Tarefa</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-12" data-ng-show="tarefas.length == 0">
		<div class="col-md-12">
			<h4>Nenhum registro encontrado</h4>
		</div>
	</div>
</div>